.todoContainer {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to right,
    rgb(35, 144, 158),
    rgba(35, 144, 158, 0.767)
  );
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.viewPortion {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
  padding: 10px;
  gap: 10px;
}

.addPortion {
  grid-row-start: 1;
  grid-row-end: 2;
  height: 20%;
  align-self: center;
  justify-self: center;
}
.pending {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgb(3, 68, 77);
  border-radius: 10px;
}

.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgb(3, 68, 77);
  border-radius: 10px;
}

.complete {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgb(3, 68, 77);
  border-radius: 10px;
}
